:root {
    --thm-gray: #8b827d;
    --thm-gray-rgb: 139, 130, 125;
    --thm-base: #f06d6d;
    --thm-base-rgb: 240, 109, 109;
    --thm-black: #661f1f;
    --thm-black-rgb: 102, 31, 31;
    --thm-primary: #cf4141;
    --thm-primary-rgb: 207, 65, 65;
}
